.search__form {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  align-items: center;
  border: none;
  input {
    all: unset;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    background-color: $bg;
    margin-bottom: 5px;
    font-size: 16px;
    color: $black;
    width: 90%;
    position: relative;
  }
  button {
    all: unset;
    position: absolute;
    right: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
}