form {
  max-width: 420px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid rgba($color: $black, $alpha: 0.2);
  border-radius: 5px;
}

input{
  all: unset;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  background-color: $bg;
  margin-bottom: 5px;
  font-size: 16px;
  width: 90%;
  position: relative;
  &::placeholder {
    color: $black;
  }
}

input[type="submit"],
.social__btn {
  padding: 12px 20px;
  background-color: rgba($color: $red, $alpha: 0.9);
  text-align: center;
  cursor: pointer;
  display: block;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: #e00f0f;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
